name: Release

on:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.MY_RELEASE_PLEASE_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

      - name: Build Windows binary
        #TODO: uncomment when tested
        # if: ${{ steps.release.outputs.release_created }}
        run: cargo build --release

      #TODO: uncomment when tested
      # - name: Create GitHub Release
      #   if: ${{ steps.release.outputs.release_created }}
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     tag: ${{ steps.release.outputs.tag_name }}
      #   run: |
      #     gh release upload "$tag" \
      #       --repo="$GITHUB_REPOSITORY" \
      #       target\release\*.exe

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: windows-executable
          path: target/release/*.exe
    